/* colors */
.c1-background{
  background-color: rgb(243, 100, 94); /*pink*/
}

.c1-text{
  color: rgb(243, 100, 94); /*pink*/
}

.c2-background{
  background-color: rgb(219, 41, 31); /*red*/
}

.c2-text{
  color: rgb(219, 41, 31); /*red*/
}

.c3-background{
  background-color: rgb(35, 86, 141); /*blue*/
}

.c3-text{
  color: rgb(35, 86, 141); /*blue*/
}

/* colored bars */
.pink-blue-bar{
  width:200px;
  height:4px;
  background: linear-gradient(to right, rgb(243, 100, 94) 50%, rgb(35, 86, 141) 50% 100%);
  margin: auto;
}

.pink-bar{
  width:300px;
  height:5px;
  background: rgb(243, 100, 94); /*pink*/
  margin:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.red-bar{
  width:300px;
  height:5px;
  background: rgb(219, 41, 31); /*red*/
  margin:auto;
  margin-top:15px;
  margin-bottom:15px;
}

.blue-bar{
  width:300px;
  height:5px;
  background: rgb(35, 86, 141); /*blue*/
  margin:auto;
  margin-top:15px;
  margin-bottom:15px;
}
