/* colors */
.c1-background{
  background-color: #e88c49; /*light orange*/
}

.c1-text{
  color: #e88c49; /*light orange*/
}

.c2-background{
  background-color: #c45d12; /*dark orange*/
}

.c2-text{
  color: #c45d12; /*dark orange*/
}

.c3-background{
  background-color: rgb(35, 86, 141); /*blue*/
}

.c3-text{
  color: rgb(35, 86, 141); /*blue*/
}

/* colored bars */
.two-color-bar{
  width:200px;
  height:4px;
  background: linear-gradient(to right, #e88c49 50%, rgb(35, 86, 141) 50% 100%);
  margin: auto;
}

.gradient-background{
  background:linear-gradient(to bottom right, #478ad1, rgb(35, 86, 141) 50% 100%);
}
