.my-navbar{
  height: 7vh;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(35, 86, 141);
  z-index: 2;
}

.my-navbar-container{
  height: 100%;
  display: flex;
  align-items: center;
}

.my-navbar-item{
  margin: .75rem;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
  transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out; /* for Safari & Chrome */
}

.my-navbar-item:link {
  color: white;
}

.my-navbar-item:visited {
  color: white;
}

.my-navbar-item:hover {
  color: rgb(243, 100, 94) !important; /*pink*/
}

.my-navbar-item:active{
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}

.my-navbar-home{
  font-size: 2rem;
}

.my-navbar-burger{
  display: none;
  padding: .5rem;
  color: white;
}

.dropdown{
  list-style-type: none;
}

.dropdown-item{
  margin: .5rem;
  margin-left: -1rem;
  color: white;
  font-family: 'Signika', sans-serif;
  font-size: 1.5rem;
}

#navbar-mobile-dropdown {
  background-color: rgb(50, 125, 207);
  width: 100%;
  position: fixed;
  top: 7vh;
  max-height:0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease; /* for Safari & Chrome */
  overflow: hidden;
  z-index: 2;
}

/*hide on mobile*/
@media screen and (max-width: 600px){
  .my-navbar-item{
    display: none;
  }

  .my-navbar-burger{
    display: block;
  }
}

@media screen and (min-width: 601px){
  #navbar-mobile-dropdown {
    max-height: 0px !important;
  }
}
